.container-footer {
    border: 1px solid black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #904ccc;
    color: white;
    text-align: center; 
}

.row-footer {
    background-color: #904ccc;
    justify-content: center;
}

.container-contacta {
    background-color: #904ccc;
}

.container-redes {
    border: 1px solid black;
}

.container-marca {
    border: 1px solid black;
    text-align: center;    
}